<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>staticfloat.uwsgi</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/uwsgi</string>
		<string>--ini</string>
		<string>/Users/sabae/src/status.julialang.org/etc/uwsgi/apps-enabled/dashboard.ini</string>
		<string>--die-on-term</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/sabae/src/speed.julialang.org/www</string>
</dict>
</plist>
